@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "iran";
  src: url("/src/assets/font/IRAN.woff2") format("woff2");
}
html,
body {
  font-family: "iran";
  @apply bg-bg-main;
}
p {
  @apply font-normal;
}
img {
  @apply w-full h-auto bg-auto;
}
.bg-header{
  background: #eef2fd;
}
.swiper-pagination-bullet {
  opacity: 0.9;
  transition: all 0.3s;
  width: 30px !important;
  height: 10px !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.3);
}

.bg-section{
  background-image: url('./assets/images/backSection.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
}