@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Rastin";
  src: url("/src/assets/font/rastin.ttf") ;
}
html,
body {
  font-family: "Rastin";
  @apply bg-bg-main;
}
.swiper-pagination-bullet {
  opacity: 0.9;
  transition: all 0.3s; 
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.3);
}
